    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'includes/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'includes/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'includes/P4STA_style.css' %}" />
    <link rel="stylesheet" href="{% static 'includes/fontawesome-free-5.12.0-web/css/all.min.css' %}" />
    <script src="{% static 'includes/jquery.min.js' %}"></script>
    <script src="{% static 'includes/popper.min.js' %}"></script>
    <script src="{% static 'includes/bootstrap.min.js' %}"></script>
    <script src="{% static 'includes/two.min.js' %}"></script>
    <style>
        body {overflow-x: hidden;}
    </style>
    <title>P4STA</title>